@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  padding: 100px;
}
.main_card{
  width: 284px;
  height: 462px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  padding: 12px;
}
.main_card img{
  border-radius: 1rem;
  width: 17.9rem;
}
section h2{
  font-size: 21px;
  text-align: center;
  font-family: sans-serif;
}
section p{
  padding-top: 12px;
  color: lightgray;
  font-size: 15px;
  text-align: center;
  font-family: sans-serif;
}